{% extends "page.html" %}

{% block subtitle %}{{ _('Campaigns') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Campaigns'), controller='home', action='campaigns' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block campaigns %}
          <h1 class="page-heading">{{ _('Campaigns') }}</h1>
          {% if h.lang() == 'en' %}
            {% snippet 'home/snippets/campaign_en.html' %}
          {% elif h.lang() == 'fa_IR' %}
            {% snippet 'home/snippets/campaign_fa.html' %}
          {% else %}
            <p>There are currently no use cases available.</p>
          {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
