upstream wsgi_server_{{application_name}} {
  server 127.0.0.1:5000 fail_timeout=0;
}

upstream wsgi_server_datapusher {
  server 127.0.0.1:5001 fail_timeout=0;
}

proxy_next_upstream off;

server {
    listen 127.0.0.1:8800;

    location / {
        proxy_pass http://wsgi_server_datapusher;
    }
}

server {
    listen 80;
    server_name {{nginx_server_name}};

    rewrite ^/fa/datasets/cbibf161 https://iranopendata.org/fa_IR/dataset/price-consumer-goods-services-urban-years-1369-1394 permanent;
    rewrite ^/fa/datasets/cbibf171 https://iranopendata.org/dataset/index-prices-goods-services-urban-flation-years-1394-1315 permanent;
    rewrite ^/fa/datasets/cbibf1710 https://iranopendata.org/fa_IR/dataset/national-accounts-at-current-prices-years-1390-1393 permanent;
    rewrite ^/fa/datasets/cbibf1714 https://iranopendata.org/fa_IR/dataset/direct-direct-tax-revenues-1385-1395 permanent;
    rewrite ^/fa/datasets/cbibf176 https://iranopendata.org/fa_IR/dataset/monetary-credit-variables-years-1385-1390 permanent;
    rewrite ^/fa/datasets/cbibf177 https://iranopendata.org/fa_IR/dataset/monetary-credit-variables-years-1391-1394 permanent;
    rewrite ^/fa/datasets/cbibf178 https://iranopendata.org/fa_IR/dataset/national-accounts-at-current-prices-between-1385-1386 permanent;
    rewrite ^/fa/datasets/cbibf179 https://iranopendata.org/fa_IR/dataset/national-accounts-at-current-prices-between-1387-1389 permanent;
    rewrite ^/fa/datasets/cbiehe1624 https://iranopendata.org/fa_IR/dataset/average-household-annual-net-cost-cost-separation-groups-between-1384-1393 permanent;
    rewrite ^/fa/datasets/cbiehe1625 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-come-share-come-groups-durg-1384-1394 permanent;
    rewrite ^/fa/datasets/cbiehe1626 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenditure-durg-years-1385-1394-cost-breakdown-groups permanent;
    rewrite ^/fa/datasets/cbiehe1628 https://iranopendata.org/fa_IR/dataset/annual-gross-household-expenditure-cost-breakdown-various-groups1394 permanent;
    rewrite ^/fa/datasets/cbiehe1719 https://iranopendata.org/fa_IR/dataset/annual-consumption-food-items-beverages-tobacco-urban-household-durg-1385-1394 permanent;
    rewrite ^/fa/datasets/cbiehe1720 https://iranopendata.org/dataset/average-cost-urban-household-annual-gross-cost-breakdown-various-groups-throughout-1376-1394 permanent;
    rewrite ^/fa/datasets/cbiehe1721 https://iranopendata.org/fa_IR/dataset/percentage-distribution-gross-annual-expenditures-urban-household-cost-categories-income-1394 permanent;
    rewrite ^/fa/datasets/cbiehe173 https://iranopendata.org/dataset/average-gross-annual-come-an-urban-household-as-per-come-groups-provinces-1394 permanent;
    rewrite ^/fa/datasets/cbiehe1732 https://iranopendata.org/fa_IR/dataset/major-workce-dices-population-aged-10-over-as-per-gender-province-urban-rural-nationwide-1394 permanent;
    rewrite ^/fa/datasets/cbies1710 https://iranopendata.org/fa_IR/dataset/gross-cost-household-divided-price-bs-price-classes-1382-1391 permanent;
    rewrite ^/fa/datasets/cbies1711 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenses-come-groups-gross-come-categories-1390 permanent;
    rewrite ^/fa/datasets/cbies1712 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenses-come-groups-gross-come-categories-1389 permanent;
    rewrite ^/fa/datasets/cbies1713 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenses-come-groups-gross-come-categories-1388 permanent;
    rewrite ^/fa/datasets/cbies1714 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenses-come-groups-gross-come-categories-1387 permanent;
    rewrite ^/fa/datasets/cbies1715 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenses-come-groups-gross-come-categories-1386 permanent;
    rewrite ^/fa/datasets/cbies1716 https://iranopendata.org/fa_IR/dataset/average-annual-gross-household-expenses-come-groups-gross-come-categories-1385 permanent;
    rewrite ^/fa/datasets/cbies175 https://iranopendata.org/fa_IR/dataset/average-gross-cost-urban-households-divided-price-bs-1386-1395 permanent;
    rewrite ^/fa/datasets/cbies176 https://iranopendata.org/fa_IR/dataset/average-gross-cost-one-household-divided-price-bs-price-classes-1395- permanent;
    rewrite ^/fa/datasets/cbies177 https://iranopendata.org/fa_IR/dataset/average-gross-cost-one-household-divided-price-bs-price-classes-1394 permanent;
    rewrite ^/fa/datasets/cbies178 https://iranopendata.org/fa_IR/dataset/average-gross-cost-one-household-divided-price-bs-price-classes-1393 permanent;
    rewrite ^/fa/datasets/cbies179 https://iranopendata.org/fa_IR/dataset/average-gross-cost-one-household-divided-price-bs-price-classes-1392 permanent;
    rewrite ^/fa/datasets/cbipo173 https://iranopendata.org/fa_IR/dataset/average-household-urban-1385-1394 permanent;
    rewrite ^/fa/datasets/cbipo176 https://iranopendata.org/fa_IR/dataset/distribution-percentage-members-household-as-per-age-groups-between-385-1394 permanent;
    rewrite ^/fa/datasets/cbipo177 https://iranopendata.org/fa_IR/dataset/distribution-percentage-people-aged-6-above-households-1385-1394 permanent;
    rewrite ^/fa/datasets/cbipo178 https://iranopendata.org/fa_IR/dataset/distribution-percentage-household-as-per-employed-people-between-1385-1394 permanent;
    rewrite ^/fa/datasets/irmfbgs1723 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1394 permanent;
    rewrite ^/fa/datasets/irmfbgs1731 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1393 permanent;
    rewrite ^/fa/datasets/irmfbgs1732 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1392 permanent;
    rewrite ^/fa/datasets/irmfbgs1733 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1391 permanent;
    rewrite ^/fa/datasets/irmfbgs1734 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1390 permanent;
    rewrite ^/fa/datasets/irmfbgs1735 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1389 permanent;
    rewrite ^/fa/datasets/irmfbgs1736 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1388 permanent;
    rewrite ^/fa/datasets/irmfbgs1737 https://iranopendata.org/fa_IR/dataset/islamic-revolution-mostazafan-foundation-consolidated-balance-sheet-1387 permanent;
    rewrite ^/fa/datasets/mporgbgs167 https://iranopendata.org/dataset/executive-budget-summary-1394 permanent;
    rewrite ^/fa/datasets/mporgbgs1710 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1394 permanent;
    rewrite ^/fa/datasets/mporgbgs1711 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1393 permanent;
    rewrite ^/fa/datasets/mporgbgs1712 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1392 permanent;
    rewrite ^/fa/datasets/mporgbgs1713 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1391 permanent;
    rewrite ^/fa/datasets/mporgbgs1714 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1390 permanent;
    rewrite ^/fa/datasets/mporgbgs1715 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1389 permanent;
    rewrite ^/fa/datasets/mporgbgs179 https://iranopendata.org/fa_IR/dataset/current-capital-expenditures-estimates-affairs-chapter-1395 permanent;
    rewrite ^/fa/datasets/nocrpo1713 https://iranopendata.org/fa_IR/dataset/statistics-marriages-divorces-registered-separate-provinces-years-1393-1394 permanent;
    rewrite ^/fa/datasets/nocrpo1715 https://iranopendata.org/fa_IR/dataset/statistics-marriages-divorces-registered-separate-provinces-durg-1385-1392 permanent;
    rewrite ^/fa/datasets/nocrpo1732 https://iranopendata.org/dataset/divorces-registered-1394-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1733 https://iranopendata.org/dataset/divorces-registered-1393-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1734 https://iranopendata.org/dataset/divorces-registered-1392-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1735 https://iranopendata.org/dataset/divorces-registered-1391-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1737 https://iranopendata.org/dataset/divorces-registered-1389-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1738 https://iranopendata.org/dataset/divorces-registered-1388-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1739 https://iranopendata.org/dataset/divorces-registered-1387-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1740 https://iranopendata.org/dataset/divorces-registered-1386-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/nocrpo1741 https://iranopendata.org/dataset/divorces-registered-1385-disaggregated-urban-rural-duration-marriage permanent;
    rewrite ^/fa/datasets/pdspcbgs161 https://iranopendata.org/fa_IR/dataset/-executive-budget-summary-1388 permanent;
    rewrite ^/fa/datasets/pdspcbgs162 https://iranopendata.org/dataset/executive-budget-summary-1389 permanent;
    rewrite ^/fa/datasets/pdspcbgs163 https://iranopendata.org/dataset/executive-budget-summary-1390 permanent;
    rewrite ^/fa/datasets/pdspcbgs164 https://iranopendata.org/dataset/executive-budget-summary-1391 permanent;
    rewrite ^/fa/datasets/pdspcbgs165 https://iranopendata.org/dataset/executive-budget-summary-1392 permanent;
    rewrite ^/fa/datasets/pdspcbgs166 https://iranopendata.org/dataset/executive-budget-summary-1393 permanent;
    rewrite ^/fa/datasets/pdspcbgs171 https://iranopendata.org/dataset/executive-budget-summary-1395 permanent;
    rewrite ^/fa/datasets/pdspcbgs1716 https://iranopendata.org/fa_IR/dataset/estimates-credit-costs-disaggregated-affairs-chapter-1388 permanent;
    rewrite ^/fa/datasets/pdspcbgs1717 https://iranopendata.org/fa_IR/dataset/acquisition-capital-assets-credits-disaggregated-affairs-chapter-1388 permanent;
    rewrite ^/fa/datasets/pdspcbgs1718 https://iranopendata.org/fa_IR/dataset/estimates-credit-costs-disaggregated-affairs-chapter-1387 permanent;
    rewrite ^/fa/datasets/pdspcbgs1719 https://iranopendata.org/fa_IR/dataset/acquisition-capital-assets-credits-disaggregated-affairs-chapter-1387 permanent;
    rewrite ^/fa/datasets/pdspcbgs1720 https://iranopendata.org/fa_IR/dataset/macro-picture-annual-provcial-budget-1395 permanent;
    rewrite ^/fa/datasets/pdspcbgs1721 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1393 permanent;
    rewrite ^/fa/datasets/pdspcbgs1724 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1391 permanent;
    rewrite ^/fa/datasets/pdspcbgs1725 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1390 permanent;
    rewrite ^/fa/datasets/pdspcbgs1726 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1389 permanent;
    rewrite ^/fa/datasets/pdspcbgs1727 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1388 permanent;
    rewrite ^/fa/datasets/pdspcbgs1728 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1387 permanent;
    rewrite ^/fa/datasets/pdspcbgs1729 https://iranopendata.org/fa_IR/dataset/revenues-capital-fancial-assets-divisions-disaggregated-divisions-sections-components-1395 permanent;
    rewrite ^/fa/datasets/pdspcbgs1732 https://iranopendata.org/fa_IR/dataset/expenditures-main-devices-1387 permanent;
    rewrite ^/fa/datasets/sacbgs1738 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1386 permanent;
    rewrite ^/fa/datasets/sacbgs1739 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1389 permanent;
    rewrite ^/fa/datasets/sacbgs1740 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1391 permanent;
    rewrite ^/fa/datasets/sacbgs1741 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1392 permanent;
    rewrite ^/fa/datasets/sacbgs1742 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1393 permanent;
    rewrite ^/fa/datasets/sacbgs1743 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1394 permanent;
    rewrite ^/fa/datasets/sacbgs1744 https://iranopendata.org/fa_IR/dataset/budget-settlement-sgle-article-budget-law-country-1395 permanent;
    rewrite ^/fa/datasets/scied1715 https://iranopendata.org/fa_IR/dataset/students-educational-facilities-primary-school-level-disaggregated-provinces-school-1394-1395 permanent;
    rewrite ^/fa/datasets/scied1716 https://iranopendata.org/fa_IR/dataset/students-educational-facilities-secondary-school-level-disaggregated-provinces-school-1394-1395 permanent;
    rewrite ^/fa/datasets/sciehe1610 https://iranopendata.org/fa_IR/dataset/employed-population-aged-10-over-disaggregated-field-work-employment-status-1393 permanent;
    rewrite ^/fa/datasets/sciehe1710 https://iranopendata.org/fa_IR/dataset/employment-population-aged-10-over-major-sectors-economic-activity-provinces-1394 permanent;
    rewrite ^/fa/datasets/sciehe1711 https://iranopendata.org/dataset/labour-force-population-aged-15-years-more-provinces-1394 permanent;
    rewrite ^/fa/datasets/sciehe1732 https://iranopendata.org/fa_IR/dataset/major-workce-dices-population-aged-10-over-as-per-gender-province-urban-rural-nationwide-1394 permanent;
    rewrite ^/fa/datasets/sciehe1736 https://iranopendata.org/fa_IR/dataset/literate-unemployed-population-qualification-terms-gender-province-1394 permanent;
    rewrite ^/fa/datasets/sciehe1737 https://iranopendata.org/fa_IR/dataset/literate-active-population-qualification-terms-gender-province-1394 permanent;
    rewrite ^/fa/datasets/sciehe1741 https://iranopendata.org/fa_IR/dataset/employed-population-age-10-above-according-gender-age-breakdown-major-groups-economic-activity-1394 permanent;
    rewrite ^/fa/datasets/sciehe1742 https://iranopendata.org/fa_IR/dataset/active-population-10-years-old-above-disaggregated-gender-reason-lack-job-search-1394 permanent;
    rewrite ^/fa/datasets/sciehe1743 https://iranopendata.org/fa_IR/dataset/labour-force-divided-gender-urban-rural-1386 permanent;
    rewrite ^/fa/datasets/sciehe1744 https://iranopendata.org/fa_IR/dataset/labour-force-divided-gender-urban-rural-1387 permanent;
    rewrite ^/fa/datasets/sciehe1745 https://iranopendata.org/fa_IR/dataset/labour-force-divided-gender-urban-rural-1388 permanent;
    rewrite ^/fa/datasets/sciehe1746 https://iranopendata.org/fa_IR/dataset/rate-10-years-more-unemployees-based-on-age-groups-divided-gender-urban-rural-1389 permanent;
    rewrite ^/fa/datasets/sciehe1747 https://iranopendata.org/fa_IR/dataset/rate-10-years-more-unemployees-based-on-age-groups-divided-gender-urban-rural-1390 permanent;
    rewrite ^/fa/datasets/sciehe1748 https://iranopendata.org/fa_IR/dataset/rate-10-years-more-unemployees-based-on-age-groups-divided-gender-urban-rural-1391 permanent;
    rewrite ^/fa/datasets/sciehe1749 https://iranopendata.org/fa_IR/dataset/labour-force-divided-gender-urban-rural-1392 permanent;
    rewrite ^/fa/datasets/sciehe175 https://iranopendata.org/fa_IR/dataset/relative-distribution-workers-aged-10-over-occupational-major-groups-according-main-activity-1394 permanent;
    rewrite ^/fa/datasets/sciehe1750 https://iranopendata.org/fa_IR/dataset/rate-10-years-more-unemployees-based-on-age-groups-divided-gender-urban-rural-1393 permanent;
    rewrite ^/fa/datasets/sciehe1751 https://iranopendata.org/fa_IR/dataset/labour-force-divided-gender-urban-rural-1394 permanent;
    rewrite ^/fa/datasets/sciehe1752 https://iranopendata.org/fa_IR/dataset/labor-force-divided-gender-urban-rural-1395 permanent;
    rewrite ^/fa/datasets/sciehe176 https://iranopendata.org/fa_IR/dataset/economic-participation-rate-population-aged-10-over-province-gender-urban-rural-1394 permanent;
    rewrite ^/fa/datasets/sciehe177 https://iranopendata.org/dataset/share-employment-aged-10-over-major-sectors-activity-according-urban-rural-1394 permanent;
    rewrite ^/fa/datasets/sciehe178 https://iranopendata.org/dataset/share-workers-aged-10-over-public-private-sectors-according-urban-rural-1394 permanent;
    rewrite ^/fa/datasets/sciehe179 https://iranopendata.org/fa_IR/dataset/unemployment-rate-population-aged-10-over-province-gender-urban-rural-1394 permanent;
    rewrite ^/fa/datasets/scies171 https://iranopendata.org/fa_IR/dataset/gdp-value-added-economic-activities-at-current-prices-country-1385-1395- permanent;
    rewrite ^/fa/datasets/sciho172 https://iranopendata.org/dataset/acquirg-homes-used-urban-household-each-expense-decile-between-1388-1393 permanent;
    rewrite ^/fa/datasets/sciho173 https://iranopendata.org/dataset/acquirg-homes-used-rural-household-each-expense-decile-between-1383-1387 permanent;
    rewrite ^/fa/datasets/sciho174 https://iranopendata.org/dataset/acquirg-homes-used-urban-household-each-expense-decile-between-1383-1387 permanent;
    rewrite ^/fa/datasets/sciho175 https://iranopendata.org/fa_IR/dataset/percentage-urban-households-as-per-area-residence-household-each-annual-expense-deciles-1386-1393 permanent;
    rewrite ^/fa/datasets/sciho176 https://iranopendata.org/fa_IR/dataset/percentage-rural-households-as-per-l-area-residence-household-each-annual-expense-deciles-1386-1393 permanent;
    rewrite ^/fa/datasets/scihsp171 https://iranopendata.org/dataset/universities-higher-education-terms-major-education-gender-durg-years-1367-1394 permanent;
    rewrite ^/fa/datasets/scipo167 https://iranopendata.org/fa_IR/dataset/estimated-projected-population-province-urban-rural-1385-1395 permanent;
    rewrite ^/fa/datasets/scipo174 https://iranopendata.org/fa_IR/dataset/estimate-prediction-households-country-provinces-divided-urban-rural-non-settled-ones-1385-1395 permanent;
    rewrite ^/fa/datasets/scipo175 https://iranopendata.org/fa_IR/dataset/estimate-prediction-population-country-provinces-divided-urban-rural-non-settled-ones-1385-1395 permanent;
    rewrite ^/fa/datasets/wrnen1719-list_of_iran_dams-1396 https://iranopendata.org/fa_IR/dataset/list-dams-iran-related-mation-1396 permanent;
    rewrite ^/fa/datasets/doeen1722-air_quality_stations-1394 https://iranopendata.org/fa_IR/dataset/list-of-iran-air-quality-control-stations-and-their-models-in-1394 permanent;
    rewrite ^/fa/datasets/aqccen1721-air_pollution_stations-1396 https://iranopendata.org/fa_IR/dataset/list-of-air-quality-control-stations-in-iran-in-shahrivar-1396 permanent;
    rewrite ^/fa/datasets/mmbgs1745-mashhad_municipality_annual_budget-1395 https://iranopendata.org/dataset/sources-public-revenues-municipality-mashhad-clause-components-1395 permanent;
    rewrite ^/fa/datasets/mmbgs1746-mashhad_municipality_annual_budget-1395 http://new.iranopendata.org/dataset/resources-allocation-financial-assets-mashhad-municipality-clauses-components-1395 permanent;
    rewrite ^/fa/datasets/mmbgs1747-mashhad_municipality_annual_budget-1395 https://iranopendata.org/dataset/resources-allocation-financial-assets-mashhad-municipality-clauses-components-1395 permanent;
    rewrite ^/fa/datasets/mrudho1746-mehr_housing_divided_by_cities_new_cities-1392 https://iranopendata.org/dataset/geographical-distribution-mehr-housing-category-new-towns-1392 permanent;
    rewrite ^/fa/datasets/mrudho1747-mehr_housing_number_of_residential_units_new_cities-1392 https://iranopendata.org/dataset/number-of-mehr-housing-divided-by-project-type-new-towns-1392 permanent;
    rewrite ^/fa/datasets/smbgs1748-shiraz_municipality_annual_budget-1394 https://iranopendata.org/dataset/current-developmental-contribution-revenues-resources-shiraz-municipality-1394 permanent;
    rewrite ^/fa/datasets/tmbgs1744-tehran_municipality_annual_budget-1395 https://iranopendata.org/dataset/revenues-resources-tehran-municipality-1395 permanent;

    client_max_body_size 4G;

    access_log {{nginx_access_log_file}};
    error_log {{nginx_error_log_file}};

    location /static/ {
        alias {{nginx_static_dir}};
        expires 1d;
        add_header Pragma public;
        add_header Cache-Control "public";
    }

    location /media/ {
        alias {{nginx_media_dir}};
    }

    location / {
        if (-f {{virtualenv_path}}/maintenance_on.html) {
            return 503;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://wsgi_server_{{application_name}};
    }

    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{django_dir}}/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{virtualenv_path}}/;
    }
}
