<div class="homepage">
    <div class="usecases" id="list__container">
        <ul class="list">
            <li>
                <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/24665">
                    <img src="/images/promote/01.png">
                </a>
            </li>

            <li>
                <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/24118">
                    <img src="/images/promote/02.png">
                </a>
            </li>

            <li>
                <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/24125">
                    <img src="/images/promote/03.png">
                </a>
            </li>

        </ul>
    </div>
</div>