<div class="homepage">
    <div class="usecases" id="list__container">
        <ul class="list">
            <li>
                <a target="_blank" rel="noopener" href="#">
                    <img src="/images/promote/05.png">
                </a>
            </li>

            <li>
                <a target="_blank" rel="noopener" href="https://forms.gle/WW2kfNzPtAu975HC7">
                    <img src="/images/promote/06.png">
                </a>
            </li>

            <li>
                <a target="_blank" rel="noopener" href="#">
                    <img src="/images/promote/07.png">
                </a>
            </li>

        </ul>
    </div>
</div>