<div class="box stats">
  <div class="inner">
    <h3>{{ _('Subscribe to the mailing list') }}</h3>
        <!--form id="subscribe-mailinglist-form" class="dataset-form" method="post" action="{% url_for 'subscribe' %}"-->
        <form id="subscribe-mailinglist-form" class="dataset-form" method="post" action="/newsletter/subscribe">
            <p>{{ _('submit email for newsletter') }}</p>
            <input id="contact-email" type="text" name="email" value="" placeholder="joe@example.com" class="form-control">
            <br/>
            <div class="form-actions">
                <button class="btn btn-primary" name="save" type="submit">
                    <i class="fa fa-envelope"></i>
                    {{ _('Subscribe') }}
                </button>
            </div>
        </form>
  </div>
</div>
